In [1]:
import pandas as pd

In [2]:
csv = pd.read_csv("population_by_zip_2010.csv")

In [11]:
dataset = csv.groupby(['zipcode'])['population'].agg('sum').reset_index()

In [14]:
dataset = dataset.sort_values("population", ascending=False)

In [18]:
dataset['population'].sum()

937333281

In [28]:
dataset.iloc[0:int(len(dataset) * 0.1)]['population'].sum()

424862973

In [29]:
dataset = dataset.iloc[0:int(len(dataset) * 0.1)]

In [30]:
dataset.to_csv('./zip_codes_to_use.csv')

       zipcode  population
20720    60629      341748
27789    79936      333258
2876     11368      329793
104        926      326586
30141    90650      316647
...        ...         ...
12026    37217       88797
6018     19142       88785
7222     23513       88785
20579    60426       88782
30279    91731       88773

[3311 rows x 2 columns]